<footer
  id="contacto"
  class="py-24 px-6 text-center text-(--color-text-main) bg-(--color-glass-bg) backdrop-blur-md border-t border-(--color-glass-border) mt-auto w-full"
>
  <a
    href="mailto:contact@example.com"
    class="text-3xl font-bold text-emerald-600 hover:text-emerald-400 transition-colors"
    >Contáctame</a
  >
  <div class="mt-8 text-(--color-text-muted) text-xs tracking-widest uppercase">
    © 2025 Creado con Astro — Software Engineer Portfolio
  </div>
</footer>
